.profile {
  display: flex;
  padding: 34px 0px 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;

}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  margin: 0 0 12px 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);

}

.profile__edit-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  margin-top: auto;
  color: rgba(33, 33, 33);
  opacity: 0.7;
  background-color: #fcf5e5;
  border: none;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  font-size: 16px;
  font-weight: 500;
  padding: 18px 32px;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33);
  opacity: 1;
  color: #fcf5e5;
  margin-left: auto;
  margin-top: auto;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile__plus-icon {
  height: 12px;
  width: 12px;
}

.profile__add-button:hover {
  opacity: .8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;

  }
  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }
  .profile__name {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 6px;
  }

  .profile__edit-button {
    justify-content: center;
    padding: 32px 0 20px 0;
  }

  .profile__add-button {
    justify-content: center;
    align-items: center;
    width: 288px;
  }
}